@font-face {
  font-family: "Exo 2";
  src: local("Exo 2"), url("./fonts/Exo2.0-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Trebuchet MS";
  src: local("Trebuchet MS"), url("./fonts/trebuc.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

div[id='root'] {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
